@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-primary: "Inter";
  --font-text: "Poppins";
  --font-special: "Montserrat";
  --font-code: "Victor Mono";

  --color-crosewater: var(--c-rosewater);
  --color-cflamingo: var(--c-flamingo);
  --color-cpink: var(--c-pink);
  --color-cmauve: var(--c-mauve);
  --color-cred: var(--c-red);
  --color-cmaroon: var(--c-maroon);
  --color-cpeach: var(--c-peach);
  --color-cyellow: var(--c-yellow);
  --color-cgreen: var(--c-green);
  --color-cteal: var(--c-teal);
  --color-csky: var(--c-sky);
  --color-csapphire: var(--c-sapphire);
  --color-cblue: var(--c-blue);
  --color-clavender: var(--c-lavender);

  --color-ctext: var(--c-text);
  --color-csubtext1: var(--c-subtext1);
  --color-csubtext0: var(--c-subtext0);
  --color-coverlay2: var(--c-overlay2);
  --color-coverlay1: var(--c-overlay1);
  --color-coverlay0: var(--c-overlay0);
  --color-csurface2: var(--c-surface2);
  --color-csurface1: var(--c-surface1);
  --color-csurface0: var(--c-surface0);
  --color-cbase: var(--c-base);
  --color-cmantle: var(--c-mantle);
  --color-ccrust: var(--c-crust);
}

@custom-variant dark (&:is(.dark *));

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --c-rosewater: #dc8a78;
  --c-flamingo: #dd7878;
  --c-pink: #ea76cb;
  --c-mauve: #8839ef;
  --c-red: #d20f39;
  --c-maroon: #e64553;
  --c-peach: #fe640b;
  --c-yellow: #df8e1d;
  --c-green: #40a02b;
  --c-teal: #179299;
  --c-sky: #04a5e5;
  --c-sapphire: #209fb5;
  --c-blue: #1e66f5;
  --c-lavender: #7287fd;

  --c-text: #4c4f69;
  --c-subtext1: #5c5f77;
  --c-subtext0: #6c6f85;
  --c-overlay2: #7c7f93;
  --c-overlay1: #8c8fa1;
  --c-overlay0: #9ca0b0;
  --c-surface2: #acb0be;
  --c-surface1: #bcc0cc;
  --c-surface0: #ccd0da;
  --c-base: #eff1f5;
  --c-mantle: #e6e9ef;
  --c-crust: #dce0e8;
}

.dark {
  --c-rosewater: #e05c75;
  --c-flamingo: #e06c75;
  --c-pink: #c678dd;
  --c-mauve: #a85de9;
  --c-red: #e06c75;
  --c-maroon: #be5046;
  --c-peach: #d19a66;
  --c-yellow: #e5c07b;
  --c-green: #98c379;
  --c-teal: #56b6c2;
  --c-sky: #61afef;
  --c-sapphire: #528bff;
  --c-blue: #61afef;
  --c-lavender: #b8caff;

  --c-text: #abb2bf;
  --c-subtext1: #9da5b4;
  --c-subtext0: #888e9c;
  --c-overlay2: #7f848e;
  --c-overlay1: #5c6370;
  --c-overlay0: #4b5263;
  --c-surface2: #3b4048;
  --c-surface1: #2c313a;
  --c-surface0: #21252b;
  --c-base: #1e2127;
  --c-mantle: #181a1f;
  --c-crust: #141619;
}
